body {
    font-size: 1.2em;
    margin: 25px;
}
h1 {
    font-size: 1.5em;
}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 35px 0;
}

.figure-container {
    display: flex;
    flex-direction: column;
}